<html>
    <head>
        <title>Movie App</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/design.css">
    </head>

    <body>
        <h2 id="searchh1" class="text-center mb-3">Search Your Movie Here</h2>

        <form action="/results" method="GET" class="justify-content-center d-flex">
            <input type="text" name="search" class="form-control w-50" placeholder="Enter movie name..">
            <button class="ml-3 text-center btn btn-success">Search Movie</button>
        </form>

    </body>
</html>